<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <h1>Studio Movie Grill</h1>
        <br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/219166/AdAstra_VerC_Poster_R2_sRGB.JPG"
                        class="card-img-top" alt="Ad Astra movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Ad Astra</h5>
                        <p class="card-text">PG-13, 2 hr 2 min
                            Action/Adventure, Sci-Fi/Fantasy, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">7:10PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">10:00PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/219052/RamboLB_FB-711x1080_BBAlt_R1_JA_W01.jpg"
                        class="card-img-top" alt="Rambo movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Rambo: Last Blood</h5>
                        <p class="card-text">R, 1 hr 41 min
                            Action/Adventure</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">7:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">10:00PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/219906/CanYouKeepASecret2019.jpg"
                        class="card-img-top" alt="Can you keep a secret? movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Can You Keep a Secret?</h5>
                        <p class="card-text">1 hr 34 min
                            Comedy, Romance</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">10:00AM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/218764/HUSTLERS_27x40_sRGB.jpg"
                        class="card-img-top" alt="Hustlers movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Hustlers</h5>
                        <p class="card-text">R, 1 hr 50 min
                            Comedy, Drama, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">10:30AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">11:30AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">12:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">1:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">3:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">4:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">5:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">6:05PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">7:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">7:25PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">8:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:45PM</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/216994/itchapter2%20-%20Final%20Art.jpg"
                        class="card-img-top" alt="It Chapter Two movie poster">
                    <div class="card-body">
                        <h5 class="card-title">It Chapter Two (2019)</h5>
                        <p class="card-text">R, 2 hr 49 min
                            Horror, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">10:00AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">11:00AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">12:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">1:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">4:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">5:30PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">8:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">8:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:00PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/219573/DontLetGo2019.jpg"
                        class="card-img-top" alt="Don't Let Go movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Don't Let Go</h5>
                        <p class="card-text">R, 1 hr 43 min
                            Horror, Sci-Fi/Fantasy, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">10:50AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">1:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">4:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">7:15PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:50PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/218538/angelhasfallen-OnlinePayoff_1944x2880.jpg"
                        class="card-img-top" alt="Angel Has Fallen movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Angel Has Fallen</h5>
                        <p class="card-text">R, 1 hr 54 min
                            Action/Adventure, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">1:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">3:50PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215749/overcomer-posterart.jpg"
                        class="card-img-top" alt="Overcomer movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Overcomer</h5>
                        <p class="card-text">PG, 1 hr 55 min
                            Drama</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">10:15AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">12:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">3:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">6:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:50PM</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217779/GoodBoys2019.jpg"
                        class="card-img-top" alt="Good Boys movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Good Boys</h5>
                        <p class="card-text">R, 1 hr 35 min
                            Comedy</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">11:50AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:20PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">5:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">7:50PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">10:00PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/217131/Scary-Stories-Teaser-Poster.jpg"
                        class="card-img-top" alt="Scary Stories to Tell in the Dark movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Scary Stories to Tell in the Dark</h5>
                        <p class="card-text">PG-13, 1 hr 51 min
                            Horror, Suspense/Thriller</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">11:15AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">4:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">10:00PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/216993/HBS_Adv1Sheet3_RGB_1.jpg"
                        class="card-img-top" alt="Fast & Furious Presents: Hobbs & Shaw movie poster">
                    <div class="card-body">
                        <h5 class="card-title">Fast & Furious Presents: Hobbs & Shaw</h5>
                        <p class="card-text">PG-13, 2 hr 18 min
                            Action/Adventure</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">11:10AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">6:15PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:25PM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/215915/TheLionKing5c736ad86cb97.jpg"
                        class="card-img-top" alt="The Lion King movie poster">
                    <div class="card-body">
                        <h5 class="card-title">The Lion King (2019)</h5>
                        <p class="card-text">PG, 1 hr 58 min
                            Action/Adventure, Drama, Family, Sci-Fi/Fantasy</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">12:40PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">3:40PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">6:40PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:45PM</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/MasterRepository/fandango/219970/THE%20WEEKEND%20Cinema%20Village%20NYC%20Poster.jpg"
                        class="card-img-top" alt="The Weekend movie poster">
                    <div class="card-body">
                        <h5 class="card-title">The Weekend (2019)</h5>
                        <p class="card-text">R, 1 hr 26 min
                            Comedy</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link">11:20AM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">2:00PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">4:45PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">7:20PM</a></li>
                        <li class="list-group-item"><a href="#" class="card-link">9:50PM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>