<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Checkout</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="#">Back</a>
            <br>
        </div>
        <div class="row">
            <h1>Checkout</h1>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <form action="/orders" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="email">
                        <small id="emailConf" class="form-text text-muted">An email will be sent to you after you
                            submit
                            your order.</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="cc" id="cc" placeholder="credit card number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="exp_month" id="exp_month" placeholder="expiry month">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="expiry_year" id="expiry_year" placeholder="expiry year">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sec_code" id="sec_code" placeholder="security code">
                    </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="movie" id="movie" placeholder="movie selection">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="date" id="date" placeholder="movie date">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="time" id="time" placeholder="movie time">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="num_tix" id="num_tix" placeholder="number of tickets">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="total" id="total">
                </div>
                <%# <h4>Order total: $</h4> %>
                <br>
                <button type="submit" class="btn btn-primary">Submit></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>